#carousel {
    border: 1px solid black;
    width: 800px;
    height: 800px;
    position: relative;
}
#carousel div {
    width: 800px;
    height: 800px;
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color: silver;
}