body {
    background: #0e0529;
}

h1 {
    color: white;
}

h2 {
    margin-top: 50px;
}

a {
    cursor: pointer;
}

a:focus {
    outline: none;
}

.logo {
    letter-spacing: 12px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.logo-container {
    margin: 30px 0;
}

.logo .driver {
    color: #af945c;
}

.button {
    border: 2px solid #af945c;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: all .5s ease;
}

.button:hover {
    color: #0e0529;
    background-color: #af945c;
}

.home-button {
    text-decoration: none;
}

header {
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 760px;
}

#login-buttons {
    color: #af945c;
}
